.top-bar{
    background-color: #368962;
    padding: 1rem;
}
.img-jumbotron{
    background-image: url('images/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff;
}