/* menubar */
.top-bar{
    background-color: #368962;
    padding: 1rem;
}
.font-p{
    font-size: 16px;
}
.nav-fontsize{
    font-size: 20px;
}

/* ########## */
.bg-jumbo{
    background-color: white;

}
.text-about{
    color: cadetblue;
    font-family: 'Titillium Web', sans-serif;
}
.about-jumbotron{
    background-color: white;
}
.card{
    height: 500px;
}
.text1-about{
    font-family: 'Itim', cursive;
}
.text2-about{
    font-family: 'Mali', cursive;
}