/* menubar */
.top-bar{
    background-color: #368962;
    padding: 1rem;
}
.font-p{
    font-size: 16px;
}
.nav-fontsize{
    font-size: 20px;
}

/* rank */
.h-rank{
    height: 300px;
}
/* NEWS */
.overviwe-section{
    background-image: url("images/news.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-login{
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
}
.text-signup:hover{
    color: blue;
    
}

/* สะสมแก้ว */
.input-no-spinner {
    -moz-appearance: textfield;
}
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* NEWS */
.overflow-news{
    height: 500px;
    overflow: scroll;
}